* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }

.home-container {
    background: white;
    padding: 30px 40px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.home-container h1 {
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 10px;
    color: #333;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.home-btn {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.home-btn:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.timely-home-logo {
    display: flex;
    height: 100px;
    width: 324px;
}

.logout-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    z-index: 1000; 
  }
  
  .logout-btn:hover {
    background-color: #cc0000;
  }